.carComponent-wrap {
  display: flex;

  .box-wrap {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 148px;
    margin-left: 20px;
    padding: 24px;
    background-color: #202329;
    border-radius: 12px;
    color: #fff;
    box-sizing: border-box;

    .box-item {
      flex: 1;
    }
  }
  .box-wrap:first-child {
    margin-left: 0;
  }
}
