.ant-modal {
  .ant-modal-header{
    background-color: transparent;
    margin-bottom: 0;

    .ant-modal-title {
      font-size: 32px;
      font-weight: 500;
      line-height: 44px;
      @media (max-width: 768px) {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
}