.ant-modal {
  max-height: 80vh;
  overflow: hidden;

  >div,.ant-modal-content {
    max-height: 80vh;
    overflow: hidden;
  }
  .ant-modal-content{
    display: flex;  
    flex-direction: column;
    .ant-modal-body{
      flex:1;
      display: flex;
    }
  }
  .ant-modal-header{
    background-color: transparent;
    margin-bottom: 0;

    .ant-modal-title {
      font-size: 32px;
      font-weight: 500;
      line-height: 44px;
      @media (max-width: 768px) {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
}

// 隐藏滚动条
.coin-list{
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}