.home-content {
  --conent-h: 0px;
  height: calc(100vh - var(--conent-h));
  background: url('/src/assets/images/home-content-bg.png') no-repeat center center;
  background-size: cover;
}

.home-explanation {
  background: url('/src/assets/images/home/home-explanation-bg.png') no-repeat center center;
  background-size: cover;
}

.ant-tabs-tab {
  width: fit-content;
}
:where(.css-dev-only-do-not-override-nwgxz7).ant-tabs .ant-tabs-tab{
  font-size: 36px;
  line-height: 40px;
  @media (max-width: 768px) {
    & {
       font-size: 14px;
       line-height: 30px;
     }
   }
}

@media (max-width: 1280px) {
  :where(.css-dev-only-do-not-override-nwgxz7).ant-tabs .ant-tabs-tab{
    font-size: 28px;
    line-height: 32px;
  }
}
@media (max-width: 1024px) {
  :where(.css-dev-only-do-not-override-nwgxz7).ant-tabs .ant-tabs-tab{
    font-size: 20px;
    line-height: 24px;
  }
}
@media (max-width: 767.9px) {
  :where(.css-dev-only-do-not-override-nwgxz7).ant-tabs .ant-tabs-tab{
    font-size: 14px;
    line-height: 30px;
  }
}

.ant-tabs-ink-bar {
  height: 4px !important;
  @media (max-width: 768px) {
   & {
      height: 1px !important;
    }
  }
  @media (max-width: 1024px) {
    &{
      height: 2px !important;
    }
  }
}


.ant-tabs-nav {
  &::before {
    opacity: 0;
  }
}