.ant-tabs,
.ant-tabs-content,
.ant-tabs-tabpane {
  --uno: h-full;
}

.ant-tabs-nav-wrap {
  --uno: w-full;
}

.ant-tabs-nav-list,
.ant-tabs-tab,
.ant-tabs-tab-btn {
  --uno: text-center;
}

.ant-tabs-tab-btn {
  --uno: text-white;
}
